<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="Xen.E2E.Listeners"/>
</listeners>
  <test name="HomePageValidation">
    <classes>
      <class name="Xen.E2E.HomePageNavigationTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="LogInValidation">
    <classes>
      <class name="Xen.E2E.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
